/* font-family: 'Lobster', cursive;
font-family: 'Arimo', sans-serif; */

/* main headers */

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	text-align: center;
	font-size: 3em;
	padding-top: 1.5em;
	padding-bottom: .25em;
	background-color: #FE2E2E;
}

/* input box */

#searchBox {
	max-width: 1000px;
	margin: 0 auto;	
	text-align: center;
	font-size: 2em;
}

label {
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
	font-size: .7em;
	margin-bottom: 15px;
	line-height: 1.4;
}

ul {
	margin: 0 auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	width: 7%;
	text-align: left;
	padding: 2em;
	display: block;
}

li {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	display: block;
}

div {
	margin: 0 auto;
}